<p id="notice"><%= notice %></p>

<h1><%= t '.title' %></h1>

<table>
  <thead>
    <tr>
      <th><%= Property.human_attribute_name(:property_name) %></th>
      <th><%= Property.human_attribute_name(:rent) %></th>
      <th><%= Property.human_attribute_name(:address) %></th>
      <th><%= Property.human_attribute_name(:age) %></th>
      <th><%= Property.human_attribute_name(:remarks) %></th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @properties.each do |property| %>
      <tr>
        <td><%= property.property_name %></td>
        <td><%= property.rent.try(:to_s, :delimited) %>円</td>
        <td><%= property.address %></td>
        <td><%= property.age %>年</td>
        <td><%= property.remarks %></td>
        <td><%= link_to '詳細', property %></td>
        <td><%= link_to '編集', edit_property_path(property) %></td>
        <td><%= button_to '削除', property, method: :delete, data: { confirm: '本当に削除しますか' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '物件を登録する', new_property_path %>
